body{
  background-color: #282C34;
}
h1 {
  font-size: 26px; 
}
a {
  color: #008B45; 
  font-size: 26px; 
}
a:active {
  color: #000000; 
}
#main-content {
  font-size: 36px;
  font-weight: bold;
  padding: 16px;
  color: #EAEAEA;
}
#info-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #EAEAEA;
}
#CSDN-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #EAEAEA;
  margin-left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#QQ群-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #EAEAEA;
  margin-left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#店铺-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #EAEAEA; 
  margin-left: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
