body{
  background-color: #282C34;
}
#main-content {
  font-size: 36px;
  font-weight: bold;
  padding: 16px;
  color: #eaeaea;
}
#info-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #eaeaea;
}
#CSDN-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #eaeaea;
  margin-left: 10px;
}
#QQ群-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #eaeaea;
  margin-left: 10px;
}
#店铺-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #eaeaea; 
  margin-left: 10px;
}
