@keyframes square {
    0% {
        transform: translatey(0)
    }
    to {
        transform: translatey(-700px) rotate(600deg)
    }
}
@media (max-width: 500px) {
    .container h1 {
        font-size: 60px
    }
    form button,
    form input {
        width: 500px
    }
}
body{
  background-color: #282C34;
}
h1 {
  font-size: 26px; 
  color: #EAEAEA;   
}
a {
  color: #008B45; 
  font-size: 26px; 
}
a:active {
  color: #000000; 
}
#main-content {
  font-size: 36px;
  font-weight: bold;
  padding: 16px;
  color: #EAEAEA;
}
#info-content {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #EAEAEA;
}
#CSDN-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#QQ群-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#店铺-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}
